version: "3.8"

services:
  coredns:
    image: coredns/coredns:latest
    command: -conf /etc/coredns/Corefile
    networks:
      - dns_net
    ports:
      - "5353:53/udp"
      - "5353:53/tcp"
    volumes:
      - ./corefile:/etc/coredns/Corefile:ro
    deploy:
      mode: replicated
      replicas: 2

networks:
  dns_net:
    driver: overlay

