volumes:
  - ./corefile:/etc/coredns/Corefile:roversion: "3.8"

services:
  coredns:
    image: coredns/coredns:latest
    command: -conf /etc/coredns/Corefile
    networks:
      - dns_net
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./corefile:/etc/coredns/Corefile:ro
    deploy:
      mode: replicated
      replicas: 2
      placement:
        constraints:
          - node.role == worker

networks:
  dns_net:
    driver: overlay
